:root{
    --header_color: #92cdca;
    --header_background_color: rgb(72, 71, 71);
    --main_text_color:#445876;
    --two_side_margin:40px;
    --box-border:solid 6px #92cdca;

}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: var(--header_background_color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
}

#logo{
    background-color: var(--header_color);
    font-size: 42px;
    color: var(--header_background_color);
    padding: 10px;
   
    
    
}

.navigation ul{
    margin-right: 140px;
    list-style-type: none;
    
    
}

.navigation ul li{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    
    
}

.navigation ul li a{
    font-size: 30px;
    color: var(--header_color);
    border: 4px solid var(--header_color);;
    /* No border for top, left and right */
    border-top: none;
    border-left: none;
    border-right: none; 
    /* remove underline */
    text-decoration: none;
}

.subtitle{
    background-image: url(../images/bg\ img.jpg);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    
    
}

.subtitle p{
    display: inline-block;
    color: var(--header_background_color);
    background-color: var(--header_color);
    font-size: 24px;
    margin: 20px 100px 20px 0px;
    padding: 5px;  
    
}


/* set up for main part */
main{
    margin: var(--two_side_margin);
    display: flex;
    flex-direction: column;
    
}

#introduction{
    display: flex;
    color: var(--main_text_color);
   
}

#work,
#footer{
    display: flex;
    color: var(--main_text_color);
    margin-top: 40px;
}


/* style for title in the left: About Me, Work */
.title{
    min-width: 200px;
    width: 10%;
    font-size: 50px;
    text-align: right;
    margin-right: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-right: 4px solid;
}

.content{
    width: 90%;
    
}


#work .content{
    display: flex;
    flex-direction: column;
}



.report{
    background-image: url(../images/report.jpg);
    background-size: cover;
    height: 400px;
    border: var(--box-border);
    width: 100%;
    overflow: hidden;
}



/* why flex doesn't work here */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
    
}


/* style for report */
.report{
    position: relative;
}

.report .details{
    position: relative;
    display: inline-block;
    top: 60%;
    background-color: var(--header_color);
    padding: 10px;
}

/* increase the size of the first line for each section */
.details :nth-child(1){
    font-size: 30px;
}

.project1{
    background-image: url(../images/project1.jpg);
    background-size: cover;
    position: relative;
}

.project2{
    background-image: url(../images/project2.jpg);
}
.project3{
    background-image: url(../images/project3.jpg);
}
.project4{
    background-image: url(../images/project4.jpg);
}


.project_common{
    position: relative;
    height: 250px;
    border: var(--box-border);
    width: 100%;
    min-width: 400px;
   
}

.report a::before,
.project_common a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); /* set cover a as 0.4 */
    transition: background 0.5s ease; /* transition */
}

.report a:hover::before,
.project_common a:hover::before{
    background: rgba(0, 0, 0, 0); /* when hover on pic, cover is removed */
    cursor: pointer;
    
}

.project_common .details{
    position: relative;
    top: 60%;
    display: inline-block;
    background-color: var(--header_color);
    padding: 10px;
    
}


#footer .content{
    width: 90%;
    margin: var(--two_side_margin);
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#footer .content li a{
    font-size: 30px;
    min-width: 30px;
    color: var(--main_text_color);
    border: 4px solid var(--main_text_color);
    /* No border for top, left and right */
    border-top: none;
    border-left: none;
    border-right: none; 
    /* remove underline */
    text-decoration: none;
}

@media screen and (max-width: 2000px) {
    #footer .content{
        flex-wrap: wrap;
    }
}
