:root{
    --header_color: #92cdca;
    --header_background_color: rgb(72, 71, 71);
    --main_text_color:#445876;
    --two_side_margin:40px;

}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: var(--header_background_color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
}

#logo{
    background-color: var(--header_color);
    font-size: 42px;
    color: var(--header_background_color);
    padding: 10px;
   
    
    
}

.navigation ul{
    margin-right: 140px;
    list-style-type: none;
    
    
}

.navigation ul li{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    
    
}

.navigation ul li a{
    font-size: 30px;
    color: var(--header_color);
    border: 4px solid var(--header_color);;
    /* No border for top, left and right */
    border-top: none;
    border-left: none;
    border-right: none; 
    /* remove underline */
    text-decoration: none;
}

.subtitle{
    background-image: url(../images/bg\ img.jpg);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    
    
}

.subtitle p{
    display: inline-block;
    color: var(--header_background_color);
    background-color: var(--header_color);
    font-size: 24px;
    margin: 20px 100px 20px 0px;
    padding: 5px;  
    
}

main{
    margin: var(--two_side_margin);
    
}

#introduction{
    color: var(--main_text_color);
    display: flex;
    justify-content: space-between;
    
}

#introduction h2{
    font-size: 50px;
    text-align: right;
    margin-right: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    border-right: 4px solid;
}




footer{
    margin: var(--two_side_margin);
}



